/* Pagina de Contacto */

.header__contacto {
  width: 100%;
  top: 0;
}
.div__contacto {
  padding-bottom: 50px;
}

.conntacto {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../media/tecladofondo.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px 0px 100px 0px;
  padding-top: 50px;
}

.display-4 {
  color: wheat;
  text-align: center;
}

.contacto {
  display: flex;
  flex-direction: column;
  width: 450px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  left: 750px;
  top: 200px;
}

.contacto__titulo {
  @extend .hero__h1;
}

.boton-c {
  color: white;
  display: flex;
  justify-content: center;
  transition: all 1s;

  .boton-cc {
    transition: all 1s;
  }

  .boton-cc:hover {
    background-color: red;
  }
}
